html, body {
  margin: 0;
  padding: 0; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html, body {
  height: 100%; }

header, footer {
  padding: 23px;
  color: #fff;
  background-color: #616161;
  font-family: Roboto; }

a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 20px; }

h1, h2, h3 {
  font-family: Roboto;
  font-weight: bold;
  color: #a9665a; }

p {
  font-family: Roboto;
  font-weight: 500; }

#wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

hr {
  margin: 10px 0;
  border: 0;
  border-top: 2px solid #757575; }

.thin-border {
  border-top-width: 1px; }

header {
  -webkit-box-shadow: 0px 54px 45px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 54px 45px -1px rgba(0, 0, 0, 0.41); }

.navigation {
  list-style: none;
  background-color: #616161;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 2em;
    color: #fff; }

.nav-galery {
  margin-right: auto; }

.navigation li {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .navigation li:hover {
    background: #555;
    -webkit-box-shadow: inset -5px 6px 41px -1px rgba(0, 0, 0, 0.49);
    box-shadow: inset -5px 6px 41px -1px rgba(0, 0, 0, 0.49);
    -webkit-transition: all 1.8s ease;
    -o-transition: all 1.8s ease;
    transition: all 1.8s ease; }

.nav-txt {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .nav-txt:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 1.8s ease;
    -o-transition: all 1.8s ease;
    transition: all 1.8s ease; }

@media all and (max-width: 700px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .navigation, li {
    text-align: left; }
  .nav-galery {
    margin: 0; } }

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .grid a {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 250px;
    flex: 1 1 250px; }

@media all and (max-width: 700px) {
  .grid {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.grid img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.4;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .grid img:hover {
    opacity: 1; }

a {
  color: #a9665a; }

a:hover {
  opacity: 0.9; }

.about {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.about-item {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media all and (max-width: 700px) {
  .about-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.about-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  height: 150px; }
  .about-image img {
    width: 90%;
    height: 90%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 30px; }

.description {
  padding: 20px; }
  .description p {
    text-indent: 10px; }

footer {
  background-color: #fff; }
  footer p {
    font-family: Roboto;
    color: #000;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); }
