@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono');

@import 'base/reset';
@import 'components/colors';

html, body {
	height: 100%;
}

header, footer {
	padding: 23px;
	color: #fff;
	background: #666;
	font-family: Inconsolata, Arial, Helvetica, 'sans-serif';
}

a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
}

h1, h2, h3 {
	color: map-get(map-get($colors, akcent), dark);
}

#wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*navigation bar*/

header {
	box-shadow: 0px 54px 45px -1px rgba(0,0,0,0.41);
}

.navigation {
	list-style: none;
	background: #666;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;

	a {
		text-decoration: none;
		display: block;
		padding: 2em;
		color: #fff;
	}
}

.nav-galery{
	margin-right: auto;
}

.navigation li {
	transition: all 0.5s ease;

	&:hover {
		background: #555;
		box-shadow: inset -5px 6px 41px -1px rgba(0,0,0,0.49);
		transition: all 1.8s ease;
	}
}

.nav-txt { 
  transition: all 0.4s ease;

  &:hover {
  	transform: scale(0.8);
    transition: all 1.8s ease;
  } 
}

@media all and (max-width: 700px) {
	.navigation {
		flex-direction: column;
		align-items: stretch;
	}

	.navigation, li {
		text-align: left;
	}

	.nav-galery{
		margin: 0;
	}
}

/*end of nav bar*/

/*body section*/

.galery {
	font-family: 'Roboto Mono', Arial, Helvetica, 'sans-serif';
	display: flex;
}

.grid {
	display: flex;
	flex-wrap: nowrap;

	a {
		flex: 1 1 250px;
	}
}



@media all and (max-width: 700px) {
	.grid {
		flex-wrap: wrap;
	}
}

.image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid img {
	width: 90%;
	height: 90%;
	object-fit: cover;
	opacity: .3;
	transition: all 1s ease;

	&:hover {
		opacity: 1;
	}
}

/* ===-----about section----->*/

.about {
	font-family: 'Roboto Mono', Arial, Helvetica;
	margin: 20px 0; 
	display: flex;
	flex-direction: column;
}

.about-item {
	margin: 20px 0;
	display: flex;
}

@media all and (max-width: 700px) {
	.about-item {
		flex-direction: column;
	}	

	.about-image {
		order: 1;
	}
}

.about-image {
	flex: 0 0 250px;
	height: 150px;

	img {
		width: 90%;
		height: 90%;
		object-fit: cover;
		padding: 30px;
	}
}

.description {
	padding: 20px;

	p {
		text-indent: 10px
	}
}
