$colors: (
  primary: (
		base: #BD9AEA,
		light: lighten(#BD9AEA, 5%),
		dark: darken(#BD9AEA, 5%)
  ),
  akcent: (
  	base: #B2766B,
  	light: lighten(#B2766B, 5%),
  	dark: darken(#B2766B, 5%)
  )
);

